<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    
<body>
    <header>
        <%- include('../partials/header', { auth } ); %>
    </header>
    <p>hi</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo quas fugit a, enim omnis laudantium illum. Dicta earum libero aut veritatis eum et perferendis in itaque aperiam, accusamus, quam nam!</p>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>
