<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <p>hi</p>
    <form action="/signup" method="post">
        <input type="email" name="email" >
        <input type="date" name="DOB" id="">
        <input type="text" name="username">
        <input type="password" name="password" id="">
        <input type="password" name="confirmPassword" id="">
        <input type="submit" value="Sing up">
    </form>
    <p>bye</p>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>