<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <nav>
            <a href="/signin">signin</a>
            <a href="/signup">signup</a>
            <a href="/users">users</a>
        </nav>
    </header>
    <p>hi </p>
    <% if(error) {%>
        <p><%- error %></p>
        <%}%>
    <form action="/signup" method="post">
        <input type="email" name="email" >
        <input type="date" name="DOB" id="">
        <input type="text" name="username">
        <input type="password" name="password" id="">
        <input type="password" name="confirmPassword" id="">
        <input type="submit" value="Sing up">
    </form>
    <p>bye</p>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>